.App {
  text-align: center;
  background-color: lightgray;
}

.title {
  font-family: cursive;
  background-color: transparent;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: black;
  animation: App-logo-spin infinite 20s linear;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
